
@{
    Layout = null;
}
<div>
    @RenderBody()
    <h2>Lütfen tüm bilgileri doldurduktan sonra gönderme işlemini yapınız.</h2>
    <h2>Lütfen bekleyiniz ilan ekleme sayfasına yönlendirileceksiniz.</h2>
    <meta http-equiv="refresh" content="5;URL=/IlanVer/Index">

</div>

